@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SuperPixel';
  src: url('/assets/fonts/SuperPixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
