<div id="popup-modal" tabindex="-1"
     class="overflow-y-auto overflow-x-hidden fixed inset-0 flex items-center justify-center p-4">
  <div class="relative w-full max-w-md mx-auto bg-white shadow-lg rounded-lg border border-gray-300 p-6">
    <div class="text-center">
      <svg class="mx-auto mb-4 text-gray-500 w-12 h-12" aria-hidden="true"
           xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <h3 class="mb-4 text-lg font-normal text-gray-700">{{ msg() }}</h3>
      @if (btnMsg()) {
        <button data-modal-hide="popup-modal" type="button"
                class="bg-blue-500 text-white hover:bg-blue-600 font-medium py-2 px-4 rounded-lg shadow-sm border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                (click)="onBtnClick()">
          {{ btnMsg() }}
        </button>
      }
    </div>
  </div>
</div>
